<!-- email_templates/feedback_notification.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedback dari Konselor</title>
</head>
<body>
  <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
    <header style="background-color: #007bff; color: #fff; padding: 10px;">
      <h1 style="text-align: center;">Feedback dari Konselor {{moduleUUID}}</h1>
    </header>
    <main style="padding: 20px;">
      <p>Halo,</p>
      <p>Feedback dari konselor sudah dapat dilihat. Silakan masuk ke sistem ksatria.</p>
      <p>Jika Anda membutuhkan bantuan atau memiliki pertanyaan, silahkan kontak admin kami pada alamat email: onlinecbtindonesia@rug.nl</p>
      <p>Semoga Program KSATRIA dapat memberikan manfaat bagi Anda!</p>
      <p></p>
      <p></p>
      <p>Salam sehat mental,</p>
      <p>Admin Program KSATRIA</p>
    </main>
    <footer style="background-color: #f8f9fa; padding: 10px; text-align: center;">
      <p>&copy; 2024 Ksatria Project. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
