<!-- email_templates/invitation_template.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invitation to Register</title>
</head>
<body>
  <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;">
    <header style="background-color: #007bff; color: #fff; padding: 10px;">
      <h1 style="text-align: center;">Invitation to Register</h1>
    </header>
    <main style="padding: 20px;">
      <p>Halo,</p>
      <p>Anda telah diundang untuk mendaftarkan diri Anda pada Program KSATRIA.</p>
      <p>Silahkan klik tombol biru di bawah untuk melakukan registrasi!</p>
      <a href="{{registrationLink}}" style="display: inline-block; background-color: #007bff; color: #fff; text-decoration: none; padding: 10px; margin-top: 10px;">Register Now</a>
      <p>Jika Anda membutuhkan bantuan atau memiliki pertanyaan, silahkan kontak admin kami pada alamat email: onlinecbtindonesia@rug.nl</p>
      <p>Semoga Program KSATRIA dapat memberikan manfaat bagi Anda!</p>
      <p></p>
      <p></p>
      <p>Salam sehat mental,</p>
      <p>Admin Program KSATRIA</p>
    </main>
    <footer style="background-color: #f8f9fa; padding: 10px; text-align: center;">
      <p>&copy; 2024 Ksatria Project. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
