<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Changed Notification</title>
  </head>
  <body>
    <div
      style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto"
    >
      <header style="background-color: #28a745; color: #fff; padding: 10px">
        <h1 style="text-align: center">Password Change Notification</h1>
      </header>
      <main style="padding: 20px">
        <p>Hello {{fullname}},</p>
        <p>Your password has been successfully changed. If you did not make this change, please contact our support team immediately.</p>
        <p>Thank you!</p>
      </main>
      <footer
        style="background-color: #f8f9fa; padding: 10px; text-align: center"
      >
        <p>&copy; 2024 Ksatria Project. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
